/* Reset default margin and padding for elements */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for navigation */
.navbar {
    background-color: #bafdff87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}


#logo{
    font-size: 1.6em;
    font-weight: 700;
    font-style:oblique;
    color: #8b0900;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu li {
    padding: 10px 5px;
    font-size:large;
}

.menu li a {
    text-decoration: none;
    color: #7c0800;
}

#ct{
    background-color: #7d0800;
    color: cyan;
    padding: 8px 20px;
    border-radius: 5px;
}
#ct:hover{
    background-color:#fff;
    color:#7c0800;
    border: 1px solid #7c0800;
}

/* Media query for responsive design */
@media (max-width: 550px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .menu {
        display: none;
    }

    .menu li {
        padding: 5px 0;
    }
}

